/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fira Sans Code */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

* {
    font-family: 'Fira Sans', sans-serif;
}

p {
    color: #8892B0;
}

/* Custom Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 2px;
    scroll-behavior: smooth;
}

/* Track */
::-webkit-scrollbar-track {
    background: #0a192f;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #64FFDA;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #4ec8ab;
}